{% extends "base.html" %}
<!-- Name of Tab -->
{% block title %}Retrieve Recipe{% endblock %}

<!-- Side Content Title-->
{% block pagetitle %}Retrieve Recipe{% endblock %}
<!-- Side Content-->
{% block content %}
<!-- --------Start of Content--------- -->

<!-- How many recipe there are statement -->
<div>
  {% if count == 0 %}
  <p>There are no recipes.</p>
  {% elif count == 1 %}
  <p>There is 1 recipes.</p>
  {% else %}
  <p>There are {{ count }} recipes.</p>
  {% endif %}
</div>
<!-- Search Bar with button -->
<div class="d-flex control-bar" style="width:488px;">
    <!-- Search Bar with button -->
    <div class="input-group">
      <form class="d-flex">
        <input class="form-control me-2" type="text" size="40" placeholder="Name of Recipe" style="border-radius:10px;">
        <button class="btn btn-primary" type="button" style="border-radius:10px;">
            <i class='bx bx-search' style="position:relative;top:2px;"></i>
        </button>
      </form>
    </div>
    <!-- Create Recipe Icon -->
    <div style="position:relative;left:7px;">
        <a href="/createRecipe">
          <button type="button" class="btn btn-primary" style="border-radius:10px;">
            <i class='bx bx-plus-circle' style="position:relative;top:2px;"></i>
          </button>
        </a>
    </div>
</div>
<br>
<!-- layout to display recipes -->
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Recipe ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Points</th>
        <th>Expiry Date</th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>

      {% for recipe in recipes_list %}
      <tr>
        <td>{{ recipe.get_recipe_id() }}</td>
        <td>{{ recipe.get_name() }}</td>
        <td>{{ recipe.get_desc() }}</td>
        <td>{{ recipe.get_points() }}</td>
        <td>{{ recipe.get_date() }}</td>
        <td><a href="/updateRecipe/{{recipe.get_recipe_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_recipe', id=recipe.get_recipe_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
<!-- End of Content -->
{% endblock %}
